/* CSS styles */
-webkit-scrollbar {
  display: none;
}
.heading{
  position: absolute;
  z-index: 100;
  font-family: Times, sans-serif;
  background-color: #13add4;
  border: .2rem outset #953053;
  min-width: 400px;
  min-height: 85px;
  padding: 5px;
  padding-top: 2px;
  text-align: auto;
  left:0%;
}

.card{
  width: 60%;
  z-index: 100;
  font-family: Times, sans-serif;
  background-color: #13add4;
  border: .2rem outset #953053;
  min-width: 200px;
  height: 400px;
  padding: 1%;
  margin-top: 5%;
  padding-top: 2px;
}
.leftcolumn{
  display: flex;
  flex-direction: column;
  width: 20%;
  float: left;
}
.rightcolumn{
  display: flex;
  flex-direction: column;
  width: 70%;
  clear: both;
  float: right;
}

.row:after{
  display: table;
  clear: both;  
}

.link{
  color: #953053;
  text-decoration: underline;
}

h1 {
  top: 0px;
  font-size: 25pt;
}  

p {
  top: 50px;
  font-size: 10pt;
}

.settingsbutton{
  border: none;
  background-color: #13add4;
  cursor: crosshair;
}
.settings{
  background-color: #13add4;
  position: absolute;
  z-index: 100;
  float: right;
  border: .2rem outset #953053;
  right: 0%;
  padding: 3;
  max-height: 50px;
}

.settingscontent{
  color:#13add4;
  display: none;
  right: 0%;
  position: absolute;
  margin-top: 5%;
  min-width: 160px;
  z-index: 100;
}


.settingsbutton:focus .settingscontent {
  display: block !important;
}

body{
  cursor: cell;
  margin: 0;
  background: #953053;
  min-height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}

#canvas {
  padding: 0;
  position: absolute;
  background: rgb(1,29,37);
  background: #953053; 
  height: 100%;
}

::selection {
  background: #953053;
}

.mysliders{
  color: #000000;
  accent-color: #13add4;
}

input{
  padding: 0.4rem;
}

.run{
  position: absolute;
  bottom: 15px;
  z-index: 100;
  right: 15px;
  background: #13add4;
  border: outset #953053;
}

.run:hover .run{
  background: #3dbbdb;
}

.show {
  display: block;
}

@media all and (orientation:portrait) {

.heading{ 
  width: 95%;
  min-width: 0%;
  }

.settings{
  top: 98px;
  }
  
}

  /* _.,      _.._
    (.-.`._,'(,-'""`|\--/|
        `-.-, \ )-' (=^w^=)
  pyroxenes  `- -'  \_' '_/  */